In [2]:
import pandas as pd
from pathlib import Path

In [7]:
df = pd.read_excel(Path('D:\\Repos\\deq_demonstrator\\data\\01_input\\03_building_devs\\Devs.xlsx'))
df

,id,building,year,retrofit,area,heater,PV,STC,EV,BAT,f_TES,f_BAT,f_EV,f_PV,f_STC,gamma_PV,design_heat,design_dhw,design_tes
0,0,SFH,1980,0,120,boi,1,0,0,0,35,1,M,0.4,0.04,-90,11908,0,16938
1,1,SFH,1980,0,130,hp,1,0,0,0,35,1,M,0.4,0.04,-45,9959,2553,17797
2,2,SFH,1980,1,140,hp,0,0,0,0,35,1,M,0.4,0.04,0,7269,1929,13084
3,3,SFH,1980,1,150,hp,0,0,0,0,35,1,M,0.4,0.04,45,7532,1990,13545
4,4,MFH,1980,1,500,boi,1,0,0,0,35,1,M,0.4,0.03,90,36903,0,52489

In [9]:
df['design_heat'][0]

11908

In [8]:
year = 2018

building_id_map = {
    0: 'SFH_1_0',
    1: 'SFH_1_1',
    2: 'SFH_1_2',
    3: 'SFH_1_3',
    4: 'MFH_5_0'}

start_date = f'{year}-01-01 00:00:00'
end_date = f'{year}-12-31 23:59:59'

# Create the time index with 15-minute intervals
time_index = pd.date_range(start=start_date, end=end_date, freq='15T')
time_index
demands = {}
for demand in ['cooling', 'dhw', 'elec', 'heating']:
    dfs = []
    for id, name in building_id_map.items():
        file_name = f'{demand}_{name}.csv'
        _df = pd.read_csv(file_name, header=None)
        _df.index = time_index
        _df.columns = [id]
        dfs.append(_df)

    df = pd.concat(dfs, axis=1)
    demands[demand] = df

demands

{'cooling':                        0    1    2    3    4
 2018-01-01 00:00:00  0.0  0.0  0.0  0.0  0.0
 2018-01-01 00:15:00  0.0  0.0  0.0  0.0  0.0
 2018-01-01 00:30:00  0.0  0.0  0.0  0.0  0.0
 2018-01-01 00:45:00  0.0  0.0  0.0  0.0  0.0
 2018-01-01 01:00:00  0.0  0.0  0.0  0.0  0.0
 ...                  ...  ...  ...  ...  ...
 2018-12-31 22:45:00  0.0  0.0  0.0  0.0  0.0
 2018-12-31 23:00:00  0.0  0.0  0.0  0.0  0.0
 2018-12-31 23:15:00  0.0  0.0  0.0  0.0  0.0
 2018-12-31 23:30:00  0.0  0.0  0.0  0.0  0.0
 2018-12-31 23:45:00  0.0  0.0  0.0  0.0  0.0

 [35040 rows x 5 columns],
 'dhw':                        0    1    2       3       4
 2018-01-01 00:00:00  0.0  0.0  0.0    0.00    0.00
 2018-01-01 00:15:00  0.0  0.0  0.0    0.00    0.00
 2018-01-01 00:30:00  0.0  0.0  0.0    0.00    0.00
 2018-01-01 00:45:00  0.0  0.0  0.0    0.00    0.00
 2018-01-01 01:00:00  0.0  0.0  0.0    0.00    0.00
 ...                  ...  ...  ...     ...     ...
 2018-12-31 22:45:00  0.0  0.0  0.0  843.46  886.30
 2018-12-31 23:00:00  0.0  0.0  0.0    0.00    0.00
 2018-12-31 23:15:00  0.0  0.0  0.0    0.00    0.00
 2018-12-31 23:30:00  0.0  0.0  0.0    0.00  732.05
 2018-12-31 23:45:00  0.0  0.0  0.0    0.00  414.93

 [35040 rows x 5 columns],
 'elec':                          0       1        2       3        4
 2018-01-01 00:00:00  85.03   63.98    26.86   22.24   147.21
 2018-01-01 00:15:00  85.03   63.98    26.86   22.24  1285.82
 2018-01-01 00:30:00  85.03   63.98    26.86   22.24   233.13
 2018-01-01 00:45:00  85.03   63.98   136.90   22.24   122.63
 2018-01-01 01:00:00  85.03   63.98    26.86   22.24   122.63
 ...                    ...     ...      ...     ...      ...
 2018-12-31 22:45:00  85.03  382.40  1252.16  776.51  2767.45
 2018-12-31 23:00:00  85.03  149.29  1394.79  710.29  1368.06
 2018-12-31 23:15:00  85.03  149.29  1348.70  219.76  3971.33
 2018-12-31 23:30:00  85.03  149.29    66.36  219.76  2763.17
 2018-12-31 23:45:00  85.03  149.29   198.17   22.24  2711.93

 [35040 rows x 5 columns],
 'heating':                            0        1        2        3        4
 2018-01-01 00:00:00  1512.50  1618.26  1637.69  1685.15  5734.53
 2018-01-01 00:15:00  1587.45  1699.18  1675.37  1724.52  5637.13
 2018-01-01 00:30:00  1661.32  1778.94  1712.59  1763.39  5933.03
 2018-01-01 00:45:00  1734.14  1857.55  1729.59  1801.79  6057.17
 2018-01-01 01:00:00  1805.91  1935.05  1785.34  1839.71  6160.41
 ...                      ...      ...      ...      ...      ...
 2018-12-31 22:45:00  4674.27  4862.36  2776.30  2978.67  8530.61
 2018-12-31 23:00:00  4683.03  4951.32  2748.82  2994.99  8819.53
 2018-12-31 23:15:00  4695.72  4966.24  2772.36  3104.91  8374.55
 2018-12-31 23:30:00  4708.52  4981.25  3019.20  3115.45  8607.06
 2018-12-31 23:45:00  4721.44  4996.37  3000.99  3179.68  8660.40

 [35040 rows x 5 columns]}